
.body{
    height:100vh;
    width: 100vw; 
    margin:0;
    background-image:url("WhiteHousePressRoom.jpg"); 
}

.behindHeader{
    background-color: white;
    opacity: .7;
}

.header{
    height:20vh;  
    font-size:4.5em; 
    text-align: center; 
    margin-top: 0; 
    color: rgb(69, 49, 122); 
    font-family: 'Noticia Text', serif;
    opacity:1;
   }   

.navBar li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; 
    font-family:'Noticia Text', serif; 
    }

.itemsInNav{
    font-family: 'Noticia Text', serif;
    }
/* 
.logo{
    background-image: url("LadyLiberty.png"); 
    height: 34%; 
    width: 30%; 
    position: relative; 
    } */

.games-played{
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    background-color:rgb(206, 198, 198);  
    color: rgb(8, 8, 8);
    width: 15%; 
    height: 60%;
    font-size: 2em; 
    list-style-type: none; 
    opacity: .7;
    border: 2px solid white; 
    font-family:'Noticia Text', serif; 
}


.grid-container{
    display:inline-grid; 
    width:70%; 
    height: 80%; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-row-gap: 1vh; 
    grid-column-gap: 1vw; 
    position: relative; 
}


.grid-item{
  border: 2px solid white; 
  position: relative;
}

.front,
.back{
    position: absolute; 
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
}

.front img {
    width: 100%;
    height: 100%;
}

.back img {
    max-width: 100%;
    min-height: 100%;
}

.hillarysalute {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.hiddenSide{
    display: none; 
}